<div class="col-xs-12">
  <div class="heading">
    <h2>{{ question.title }}</h2>
    <p *ngIf="question.description">{{ question.description }}</p>
  </div>
  <div class="results" [class.hidden]="!showDetails">
    <h3>Answers</h3>
    <div class="row">
      <div class="col-xs-4">
        <p>Canvas!!!</p>
      </div>
      <div class="col-xs-8">
        <div class="result" *ngFor="let option of question.options">
          <span>{{ option.title }}</span>
          <span class="pull-right">{{ option.value }}</span>
          <div class="progress">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
        </div>
        <div class="result total">
          <span>Total</span>
          <span class="pull-right">total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-link" (click)="showDetails = false" [class.hidden]="!showDetails"><i class="fa fa-chevron-up"></i> Less</button>
    <button class="btn btn-link" (click)="showDetails = true" [class.hidden]="showDetails"><i class="fa fa-chevron-down"></i> More</button>
  </div>
</div>