<div class="col-xs-12">
  <div class="heading">
    <h2>{{ question.title }}</h2>
    <p *ngIf="question.description">{{ question.description }}</p>
  </div>
  <div class="results" [class.hidden]="!showDetails">
    <h3>Answers</h3>
    <div class="row">
      <div class="col-xs-3">
        <canvas baseChart
                [data]="chartData"
                [labels]="chartLabels"
                [options]="{ legend: { display: false } }"
                [chartType]="'doughnut'">
        </canvas>
      </div>
      <div class="col-xs-9">
        <div class="result" *ngFor="let option of (question.options | async); trackBy: optionId">
          <span>{{ option.title }}</span>
          <span class="pull-right">{{ option.votes | async }}</span>
          <div class="progress">
            <div class="progress-bar" [style.width]="getWidth(option.votes | async, total | async)"></div>
          </div>
        </div>
        <div class="result total">
          <span>Total</span>
          <span class="pull-right">{{ total | async }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-link" (click)="showDetails = false" [class.hidden]="!showDetails"><i class="fa fa-chevron-up"></i> Less</button>
    <button class="btn btn-link" (click)="showDetails = true" [class.hidden]="showDetails"><i class="fa fa-chevron-down"></i> More</button>
  </div>
</div>