<div class="col-xs-12">
  <div class="heading">
    <h2><input type="text" [(ngModel)]="question.title" required /></h2>
    <input type="text" [(ngModel)]="question.description" placeholder="Description ...">
  </div>
  <div class="row answers edit">
    <div class="option col-xs-12">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-block" [class.active]="question.type == 'mc'" (click)="setType('mc')">Multiple Choice</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-block" [class.active]="question.type == 'free'" (click)="setType('free')">Free Answer</button>
        </div>
      </div>
    </div>
    <question-edit-mc [question]="question" *ngIf="question.type == 'mc'"></question-edit-mc>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" (click)="doPublish()"><i class="fa fa-check"></i> Publish</button>
    <button class="btn btn-danger" (click)="doCancel()"><i class="fa fa-remove"></i> Cancel</button>
  </div>
</div>