<div class="col-xs-12">
  <div class="heading">
    <h2>{{ question.title }}</h2>
    <p *ngIf="question.description">{{ question.description }}</p>
  </div>
  <div class="row answers" *ngIf="!question.answered && question.type == 'MultipleChoice'">
    <div class="option col-md-4" *ngFor="let option of (question.options | async)">
      <button class="btn btn-block" (click)="selectChoice(option)">{{ option.title }}</button>
    </div>
  </div>
  <!-- <div class="row answers" *ngIf="!answered && question.type == 'Free'">
    <div class="col-md-10">
      <input class="form-control" #freeAnswer placeholder="Answer ..." />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block" (click)="sendOption(freeAnswer.value)">Validate</button>
    </div>
  </div> -->
</div>