<div class="option col-xs-12" *ngFor="let option of (question.options | async)">
  <div class="row">
    <div class="col-xs-11">
      <input type="text" class="form-control" [(ngModel)]="option.title" value="row.label" />
    </div>
    <div class="col-xs-1">
      <button class="btn btn-danger" (click)="removeOption(option)"><i class="fa fa-remove"></i></button>
    </div>
  </div>
</div>
<div class="option col-xs-12">
  <div class="row">
    <div class="col-xs-11">
      <input type="text" class="form-control" [(ngModel)]="newOption" placeholder="..." (keydown.enter)="addOption()" />
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary" (click)="addOption()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</div>