<div class="container app-content" *ngIf="!room">
  Loading ...
</div>

<div class="container app-content" *ngIf="room">
  <div class="row room-info">
    <div class="col-md-6">
      <h1>
        {{ room.info.name }}
        <span [class.hidden]="room.info.status != 'Open'" class="label label-success">Open</span>
        <span [class.hidden]="room.info.status != 'Closed'" class="label label-warning">Closed</span>
      </h1>
    </div>
    <div class="col-md-6 text-right room-id" *ngIf="room.info.key">
      <b>Room ID:</b> {{ room.info.key }}
    </div>
  </div>

  <div class="row toolbox" *ngIf="isOwner">
    <div class="col-xs-12 text-right">
      <button [class.hidden]="room.info.status == 'Open'" class="btn btn-success" (click)="changeStatus('Open')">
        Open Room
      </button>
      <button [class.hidden]="room.info.status == 'Closed'" class="btn btn-warning" (click)="changeStatus('Closed')">
        Close Room
      </button>
      <button class="btn btn-info" (click)="createQuestion()">
        <i class="fa fa-plus"></i> New Question
      </button>
    </div>
  </div>

  <div *ngIf="!isOwner && room.info.status == 'Open'">
    <question-answer *ngFor="let question of room.questions" [question]="question" [socket]="socket"></question-answer>
  </div>

  <div *ngIf="!isOwner && room.info.status == 'Closed'">
    <div class="col-xs-12">
      <p class="text-center">The room is closed</p>
    </div>
  </div>

  <div *ngIf="isOwner">
    <question-edit *ngFor="let question of pending" [question]="question" (onCommit)="commitQuestion($event)" (onCancel)="removeQuestion($event)"></question-edit>
    <question-view *ngFor="let question of room.questions" [question]="question"></question-view>
  </div>
</div>