<div class="container app-content app-index">
  <div class="content">
    <form class="form-horizontal container-fluid">
      <h2>Create a Room</h2>
      <div class="form-group">
        <div class="col-xs-9">
          <input type="text" class="form-control" placeholder="Room Name">
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn-block btn-primary">
            <i class="fa fa-plus"></i> Create
          </button>
        </div>
      </div>
    </form>
    <div class="container-fluid">
      <h3>Your rooms</h3>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>State</th>
          <th></th>
        </tr>
        <tr>
          <td><a href="#">TWEB - Quizz 1</a></td>
          <td>05/12/2016</td>
          <td><div class="label label-warning">Closed</div></td>
          <td><a href="#"><i class="fa fa-download"></i> Results</a> </td>
        </tr>
        <tr>
          <td><a href="#">TWEB - Quizz 2</a></td>
          <td>05/12/2016</td>
          <td><div class="label label-warning">Closed</div></td>
          <td><a href="#"><i class="fa fa-download"></i> Results</a> </td>
        </tr>
        <tr>
          <td><a href="#">AMT - Quizz 1</a></td>
          <td>05/12/2016</td>
          <td><div class="label label-warning">Closed</div></td>
          <td><a href="#"><i class="fa fa-download"></i> Results</a> </td>
        </tr>
        <tr>
          <td><a href="#">AMT - Quizz 2</a></td>
          <td>05/12/2016</td>
          <td><div class="label label-warning">Closed</div></td>
          <td><a href="#"><i class="fa fa-download"></i> Results</a> </td>
        </tr>
      </table>
    </div>
  </div>
</div>