{% extends 'app/layout.twig' %}

{% block content %}
<div class="room-info row">
    <div class="col-md-6">
        <h1>Room Name</h1>
    </div>
    <div class="col-md-6 text-right room-id">
        <b>Room ID:</b> jolly-beaver
    </div>
</div>

    {% if view == "question1" %}
    <div class="question row">
        <div class="col-xs-12">
            <div class="heading">
                <h2>{{ data1.question }}</h2>
                {# <p>A little descritive text (optional)</p> #}
            </div>
            <div class="row answers">
                {% for value in data1.values %}
                <div class="option col-md-4">
                    <button class="btn btn-block">{{ value.label }}</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if view == "question2" %}
    <div class="question row">
        <div class="col-xs-12">
            <div class="heading">
                <h2>Is this a question ?</h2>
                <p>A little descritive text (optional)</p>
            </div>
            <div class="row answers">
                <div class="col-md-10">
                    <input class="form-control" placeholder="Answer ..." />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-block">Validate</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
