{% extends 'app/layout.twig' %}

{% block content_class %}app-content app-index{% endblock %}
{% block content %}

    <div class="content">
        <h2>Join a Room</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-9">
                    <input type="text" class="form-control" placeholder="Room ID ...">
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-block btn-primary">Join</button>
                </div>
            </div>
        </form>

        <h2>Create a Room</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-9">
                    <input type="text" class="form-control" placeholder="Room Name">
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-plus"></i> Create
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}