<div class="container app-content app-index">
<div class="content">
  <div class="container-fluid">
    <div class="col-md-6">
      <h2>Student Signup</h2>
      <form class="form-horizontal container-fluid">
        <div class="form-group">
          <input type="text" class="col-xs-12 form-control" [(ngModel)]="student.name" name="name" placeholder="Display Name">
        </div>
        <div class="form-group">
          <input type="text" class="col-xs-12 form-control" [(ngModel)]="student.room" name="room" placeholder="Room ID">
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary" (click)="doStudentLogin($event)">
            Join
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Professor Login</h2>
      <form class="form-horizontal container-fluid">
        <div class="form-group">
          <input type="text" class="col-xs-12 form-control" [(ngModel)]="professor.username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="text" class="col-xs-12 form-control" [(ngModel)]="professor.password" name="password" placeholder="Password">
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary" (click)="doProfessorLogin($event)">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>